<div class="container text-center">
  <h1><%= "What's the longest word you can do ?" %></h1>
  <ul class=" letters">
    <% @letters.each do |letter| %>
      <li><%= letter %></li>
    <% end %>
  </ul>
</div>
