// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";

h1 {
  color: #35d0ba;
}

h2 {
  display: flex;
  justify-content: center;
  color: #35d0ba;
  font-size: 36px;
  padding-top: 44px;
  padding-bottom: 44px;
}

.content {
  background-color: #b643cd;
  height: 100vh;
}
